@model MarketPlace.Data.DTOs.Products.FilterProductDTO

<form method="get" asp-action="FilterProducts" asp-controller="Product">
    <input type="text" asp-for="ProductTitle" placeholder="نام محصول یا برند را جستجو کنید...">
    <i class="far fa-search"></i>
</form>