@model MarketPlace.Data.DTOs.Account.ForgotPasswordDTO
@{ 
    ViewData["Title"] = "بازیابی کلمه عبور";
}

<div class="auth-wrapper">
    <div class="auth-form shadow-around">
        <div class="site-logo">
            <a href="#">
                <img src="/images/logo.png" alt="logo">
            </a>
        </div>
        <div class="auth-form-title">
            @ViewData["Title"]
        </div>
        <form asp-action="ForgotPassword" asp-controller="Account" method="post">
            <div class="form-element-row">
                <label for="phone-number" class="label-element">شماره موبایل</label>
                <div class="form-element-with-icon">
                    <input asp-for="Mobile" class="input-element" id="phone-number">
                    <i class="fad fa-mobile-alt"></i>
                </div>
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
            
            <partial name="_CaptchaInput" />
            <div class="form-element-row text-left">
                <button class="btn-element btn-info-element">
                    <i class="fad fa-sign-in-alt"></i>
                    بازیابی کلمه عبور
                </button>
            </div>
        </form>
    </div>
</div>

@section Script {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <partial name="_CaptchaScripts" />
}
