@using MarketPlace.Data.Entities.SiteSettings
@using MarketPlace.Application.EntitesExtensions

@model List<Slider>
@{
    var siteSettings = ViewBag.SiteSetting as Site;
}

<div class="main-slider">
    <div class="swiper-container main-page-slider">
        <div class="swiper-wrapper">

            @if (Model != null && Model.Any())
            {
                @foreach (var slider in Model)
                {
                    <div class="swiper-slide">
                        <a @(!string.IsNullOrEmpty(slider.Link) ? "target='_blank' href=" + slider.Link : "")>
                            <img src="@slider.GetSliderImageAddress()" alt="@slider.Header" />
                        </a>
                    </div>
                }
            }

        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

    <div class="swiper-container main-page-slider-thumbs d-none d-sm-block">
        <div class="swiper-wrapper">
            
        </div>
    </div>

</div>